.App {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;

  background: linear-gradient(
    45deg,
    rgba(175, 89, 255, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  font-family: "Rubik", sans-serif;
  color: rgb(192, 214, 238);
}
